@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-900 text-gray-300;
}

/* .header-container {
  @apply w-full max-w-xl py-2;
} */

.main-layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
}

.title-and-data-row {
  @apply m-1 p-3 text-xl bg-gray-700 flex justify-between;
}

.budget-group-header {
  @apply p-3 text-xl bg-gray-700 flex justify-between;
}

.budget-category-row {
  @apply flex flex-col p-3 text-xl bg-gray-600 border-b-2 border-gray-700;
}
